.footer {
    position: relative;
    height: 209px;
    background-color: black;


    .footer-logo {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 122px; 
    }

    p {
        position: absolute; 
        bottom: 20px; 
        left: 50%;
        transform: translateX(-50%); 
        color: white; 
        font-size: 24px;
        text-align: center;
    }
}