@use '../variables' as *;
@use '../mixins' as *;

.footer {
    position: relative;
    height: 209px;
    background-color: $secondary-text-color;

    .footer-logo {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 122px;
    }

    p {
        position: absolute;
        bottom: $gap-small;
        left: 50%;
        transform: translateX(-50%);
        color: $primary-text-color;
        text-align: center;

        @include responsive-font-size($font-size-medium, $font-size-very-small);

        @media (max-width: 750px) {
            bottom: 60px;
            width: 100px;
        }
    }
}