@use '../variables' as *;
@use '../mixins' as *;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: $gap-large 0;
    @include responsive-padding(0 85px, 0 20px);

    @media (max-width: 750px) {
        margin: $gap-small 0;
    }

    .header-logo {
        width: 210px;

        @media (max-width: 750px) {
            width: 145px;
        }
    }

    nav {

        ul {
            display: flex;
        }

        .nav-link {
            margin-left: $gap-large;
            color: $secondary-text-color;
            font-size: $font-size-medium;
            position: relative;

            @media (max-width: 750px) {
                margin-left: $gap-small;
                font-size: $font-size-very-small;
            }

            &:hover {
                color: $primary-color;
            }

            &.active {
                color: $primary-color;
                font-weight: bold;

                &::after {
                    content: '';
                    display: block;
                    height: 2px;
                    width: 100%;
                    background-color: $primary-color;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
            }
        }

        li a {
            color: $secondary-text-color;
        }
    }

    @media (max-width: 750px) {
        a {
            text-transform: uppercase;
        }
    }
}