@use '../variables';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 85px;
    margin: 40px 0;

    @media (max-width: 750px) {
        padding: 0 20px;
        margin: 20px 0;
    }

    .header-logo {
        width: 210px;

        @media (max-width: 750px) {
            width: 145px;
        }
    }

    nav {

        ul {
            display: flex;
        }

        .nav-link {
            margin-left: 60px;
            color: black;
            font-size: 24px;
            position: relative;

            @media (max-width: 750px) {
                margin-left: 30px;
                font-size: 12px;
            }

            &:hover {
                color: #ff6060;
            }

            &.active {
                color: #ff6060;
                font-weight: bold;

                &::after {
                    content: '';
                    display: block;
                    height: 2px;
                    width: 100%;
                    background-color: #ff6060;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
            }
        }

        li a {
            color: black;
        }
    }

    @media (max-width: 750px) {
        a {
            text-transform: uppercase;
        }
    }
}