.home {
    padding: 0 85px;

    .properties-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, 340px);
        gap: 55px;
        justify-content: center;
        background-color: #F6F6F6;
        padding: 55px 60px;
        margin: 40px 0;
        border-radius: 20px;
    }
}