@use '../mixins' as *;
@use '../variables' as *;

.home {
    @include responsive-padding(0 85px, 0 20px);

    .properties-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, 340px);
        gap: $gap-large;
        justify-content: center;
        background-color: $grid-color;
        border-radius: $border-radius;
        margin: 40px 0;

        @include responsive-padding(55px 60px, 0);

        @media (max-width: 750px) {
            grid-template-columns: repeat(auto-fit, 100%);
            background-color: $primary-text-color;
            margin: 20px 0;
            gap: $gap-small;
        }
    }
}