@use '../mixins' as *;
@use '../variables' as *;

.notFound {
    @include flex-center;
    flex-direction: column;
    gap: 128px;
    margin-bottom: 127px;
    
    @include responsive-padding(0 85px, 0 20px);

    h1 {
        color: $primary-color;
        @include responsive-font-size($font-size-huge, 96px);

        @media (max-width: 750px) {
            margin-top: 100px;
        }
    }

    p {
        color: $primary-color;
        font-weight: bold;
        @include responsive-font-size($font-size-large, $font-size-small);

        @media (max-width: 750px) {
            text-align: center;
            width: 230px;
        }
    }

    a {
        color: $secondary-text-color;
        text-decoration: underline;
        font-weight: bold;
        @include responsive-font-size($font-size-small, 14px);
    }
}
