@use '../mixins' as *;
@use '../variables' as *;

.property {
    min-height: 66vh;
    @include responsive-padding(0 85px, 0 20px);

    .property-details {
        display: flex;
        justify-content: space-between;
        margin: $gap-small 0;

        @media (max-width: 750px) {
            flex-direction: column;
        }

        .property-title-location-tags {
            width: 78%;

            @media (max-width: 1000px) {
                width: 60%;
            }

            @media (max-width: 750px) {
                width: 100%;
            }

            .property-title {
                color: $primary-color;
                @include responsive-font-size($font-size-large, $font-size-small);
            }

            .property-location {
                font-weight: 500;
                @include responsive-font-size($font-size-small, $font-size-very-small);

                @media (max-width: 750px) {
                    margin-top: $gap-small;
                }
            }

            .property-tags {
                display: flex;
                flex-wrap: wrap;
                gap: $gap-small;
                margin: $gap-small 0;

                .tag {
                    color: $primary-text-color;
                    background: $primary-color;
                    border-radius: $border-radius;
                    padding: 5px 30px;
                    @include responsive-font-size($font-size-small, $font-size-very-small);

                    @media (max-width: 750px) {
                        padding: 5px 15px;
                    }
                }
            }
        }

        .property-host-rating {

            @media (max-width: 750px) {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                align-items: center;
            }

            .property-host {
                display: flex;
                align-items: center;

                p {
                    color: $primary-color;
                    margin-right: $gap-small;
                    @include responsive-font-size($font-size-small, $font-size-very-small);
                }

                img {
                    width: 64px;
                    border-radius: 50%;

                    @media (max-width: 750px) {
                        width: 32px;
                    }
                }
            }

            .property-rating {
                display: flex;
                justify-content: space-evenly;
                color: $primary-color;
                margin: $gap-small 0;
                @include responsive-font-size(30px, $font-size-small);

                .star {
                    &.filled {
                        color: $primary-color;
                    }

                    &.empty {
                        color: $border-color;
                    }
                }
            }
        }
    }

    .property-dropdowns {
        display: flex;
        gap: $gap-large;
        margin-bottom: 50px;

        @media (max-width: 750px) {
            flex-direction: column;
            gap: $gap-small;
        }

        .dropdown-container {
            flex: 1;

            .dropdown {
                margin: 0;
            }
        }
    }
}