$primary-color: #ff6060;
$grid-color: #F6F6F6;
$primary-text-color: #FFFFFF;
$secondary-text-color: #000000;
$background-light: #F9F9F9;
$border-color: #E3E3E3;
$border-radius: 20px;
$gap-large: 55px;
$gap-small: 20px;
$font-size-large: 36px;
$font-size-small: 18px;
$font-size-very-small: 12px;
$font-size-huge: 288px;
$font-size-medium: 24px;